@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "coolvetica-light";
        src: url("/fonts/CoolveticaLt-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "coolvetica-regular";
        src: url("/fonts/CoolveticaRg-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "coolvetica-book";
        src: url("/fonts/CoolveticaBk-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "opendyslexic-regular";
        src: url("/fonts/opendyslexic-regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "opendyslexic-bold";
        src: url("/fonts/opendyslexic-bold.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}

@layer components {
  .tabbar-selected {
    translate: 0 -29px;
    background-color: #59C3C3;
  }
}

::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #292F2D; /* color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #59C3C3; /* color of the scrollbar thumb */
    border-radius: 0.25rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #009E95; /* color of the scrollbar thumb on hover */
  }

  .swiper-pagination-bullet-active {
    background-color: #228187 !important;
}

.swiper-slide-shadow {
  background: none !important;
  fill: none !important;
}

.disable-scroll {
  overflow: hidden;
}