@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "coolvetica-light";
        src: url("/fonts/CoolveticaLt-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "coolvetica-regular";
        src: url("/fonts/CoolveticaRg-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "coolvetica-book";
        src: url("/fonts/CoolveticaBk-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}

:root {
    --background-hex: #FBF9FA;
    --foreground-hex: #292F2D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-hex: #292F2D;
        --foreground-hex: #FBF9FA;
    }
}
  
body {
    background: var(--background-hex);
    color: var(--foreground-hex);
}