@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "coolvetica-light";
        src: url("/fonts/CoolveticaLt-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "coolvetica-regular";
        src: url("/fonts/CoolveticaRg-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "coolvetica-book";
        src: url("/fonts/CoolveticaBk-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "opendyslexic-regular";
        src: url("/fonts/opendyslexic-regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: "opendyslexic-bold";
        src: url("/fonts/opendyslexic-bold.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}